@import 'susy/sass/susy';

@import 'compass-mixins/lib/compass';

@import 'react-toolbox/lib/colors';
@import 'react-toolbox/lib/mixins';
@import 'react-toolbox/lib/globals';

$susy: (
  global-box-sizing: border-box,
  columns: 12, 
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  use-custom: (
    box-sizing: true,
    rem: false,
    clearfix: true,
  )
);

@import "./global.var.sass";